astroid==3.3.10
certifi==2025.4.26
charset-normalizer==3.4.2
colorama==0.4.6
dill==0.4.0
idna==3.10
isort==6.0.1
keyboard==0.13.5
mccabe==0.7.0
pip==24.2
platformdirs==4.3.8
requests==2.32.3
tomlkit==0.13.3
urllib3==2.4.0
